body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

a,
a:visited {
    color: #000;
}

.container-nonstarp {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.side-left,
.side-right {
    /* background: #ffeb3b; */
    padding: 2rem;
    height: 100vh;
}

.side-left {
    font-size: 2rem;
    width: 40%;
}

.side-right {
    width: 100%;
    padding: 0px;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-left h1 {
    font-weight: bold;
    font-size: 4rem;
}

.work-on {
    text-transform: uppercase;
    color: #00000078;
    font-size: 2rem;
    line-height: 1;
    padding: 22px 0px;
    padding-bottom: 26px;
}

.shortnote {
    font-size: 1rem;
    font-weight: 100;
}

.side-right>section {
    background: url(./../img/background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    border-bottom-width: 2px;
}

.side-right>section.one {
    background: #8BC34A;
}

.side-right>section.two {
    background: #FFB74D;
    padding-bottom: 1rem;
}

.shortnote a {
    color: #1565C0;
    /* background: #795548; */
    font-size: 1.2rem;
    font-variant: none;
    font-weight: lighter;
    text-decoration: none;
}

.contact {
    padding: 12px 40px;
    margin: 0 auto;
    border-radius: 40px;
    background: rgb(74, 147, 255);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgba(74, 146, 255, 0.705);
}

.contactContain {
    display: flex;
    justify-content: center;
}

.social i:hover {
    color: rgb(212, 164, 74);
}

.social i {
    font-size: 2.4rem;
    transition: color 1ms ease;
    margin: 10px;
}

.social {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
}

.fas.fa-at {
    border-radius: 100px;
}

.social a {
    display: block;
    flex-basis: 2.5rem;
}

section {
    font-family: 'Cabin', sans-serif;
}

section h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: rgba(0, 0, 0, .4);
    padding: 20px;
    font-family: 'Advent Pro', sans-serif;
}

.side-right>section.three {
    background: #009688;
}

.progressContain {
    margin: 10px;
    width: 55px;
    min-width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.lanContainRow {
    display: flex;
    flex-wrap: wrap;
}

.projectContain {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    padding-top: 0px;
    flex-wrap: wrap;
}

.lanBox {
    display: flex;
    align-items: center;
    flex-basis: 10rem;
}

.projectBox {
    /* border-radius: 6px;
    margin: 1rem;
    position: relative;
    flex-basis: 10rem; */
}

.projectImg {
    background: rgb(212, 177, 79);
    width: 100%;
    /* min-width: 200px; */
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.projectBox .details {
    text-align: center;
    padding: 10px 0px;
}

.projectBox .details h2 {
    font-size: .8rem;
    font-weight: bold;
}

.subSection {
    padding: 0px 2rem;
}

.subSection .subSectionHead {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    color: rgba(0, 0, 0, .5);
}

.listContain {
    display: flex;
    flex-wrap: wrap;
}

.listItem {
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 13px;
}

.listItem h4 {
    margin: 0px;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
}

.listItem .date {
    padding: 2.2px 10.5px;
    color: #585353;
    display: inline-block;
    background: #b7b4b4;
    border-radius: 27px;
}

.IntroContain {
    /* padding: 0px 2rem; */
    font-size: 1.5rem;
    margin: 0px;
}

section.four {
    background: url('./../img/background.jpg');
    background-position: center;
    background-size: cover;
}

@media (max-width:500px) {
    .container-nonstarp {
        flex-direction: column;
    }
    .side-left {
        width: 100%;
        overflow: auto;
    }
    .side-right {
        overflow: auto;
        height: auto;
    }
}

@media(max-width:768px) {
    .side-left {
        overflow: unset;
    }
}

.row-margin {
    margin-right: 15px;
    margin-left: 15px;
}