// Custom.scss
$body-bg: #000;
$body-color: #fff;
$theme-colors: (
  "primary": #05c0e0
);

// Option A: Include all of Bootstrap

@import "./../node_modules/bootstrap/scss/bootstrap";

$body-tag-margin: 1rem;
$tag-color: rgb(100, 100, 100);

$tags: "body" "body", "section" "section", "row" "row", "h1" "h1", "h2" "h2",
  "p" "p", "span" "span";

@each $i in $tags {
  .#{nth($i, 1)}-tags {
    &::before {
      content: "<" + nth($i, 2) + ">";
    }

    &::after {
      content: "<" + nth($i, 2) + "/>";
    }

    &::before,
    &::after {
      margin-left: -$body-tag-margin;

      color: $tag-color;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: normal;
    }
    padding-left: $body-tag-margin;
  }
}

.removeAfter::after {
  content: none;
}

.inlineTag {
  &::after,
  &::before {
    vertical-align: middle;
  }
  &::after {
    padding-left: 1rem;
  }
}

.add-tags::before {
  content: "<";
  margin: -14px;
  color: #60b5ff;
}

.add-tags::after {
  content: "/>";
  margin: -7px;
  color: #60b5ff;
  letter-spacing: -9px;
}

html,
body {
  background: #000;
  color: #fff;
  font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
}

section:first-child {
  padding-left: 0rem;
}

section {
  padding-top: 75px;
  min-height: 100vh;
  padding: 2rem;
  padding-left: 20rem;
}

.code-font-family {
  font-family: "Roboto Condensed", "Lato", Arial, sans-serif !important;
}

.section-wrapper {
  background: rgb(17, 17, 17);
}

h1,
.h1 {
  font-weight: bold;
  font-size: 4rem;
}

h2,
.h2 {
  font-weight: 500;
  font-size: 3.5rem;
}

#adev-name-2 {
  display: none;
}

.my-name:hover {
  #adev-name-1 {
    display: none;
  }

  #adev-name-2 {
    display: inline;
    i {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}

.gallery {
  padding-top: 2rem;
}
.gallery .gallery-image {
  height: 300px;
  // border-radius: 4px;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  transition: opacity 1s ease-in;
}

.gallery .gallery-image:hover,
.gallery-image.active {
  opacity: 1;
}
.gallery .gallery-image::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background: linear-gradient(65deg, rgba(16, 9, 27, 0.8), transparent 50%);
}

.gallery .gallery-details {
  .desc-text {
    transition: all 1s linear;
    display: inline;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 5px;
    background: linear-gradient(
      to right,
      rgba(0, 209, 177, 1) 0%,
      rgba(39, 143, 198, 1) 98%
    );
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 85%;
    text-shadow: 0;
  }

  &:hover,
  &.active {
    .desc-text {
      background-size: 100% 2px;
      text-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.5);
    }
    h3 {
      // font: 700 4em/1 "Oswald", sans-serif;
      // letter-spacing: 0;
      // padding: 0.25em 0 0.325em;
      display: block;
      // margin: 0 auto;
      text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

      /* Clip Background Image */

      background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png)
        repeat-y;
      -webkit-background-clip: text;
      background-clip: text;

      /* Animate Background Image */

      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 50s linear infinite;

      /* Activate hardware acceleration for smoother animations */

      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

$font-color: #fff;
$bg-color: #d3d3d3;
$dark-blue: #2e4a62;
$light-blue: #4e9bfa;

@mixin clearfix {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
@mixin set-border($thickness, $color, $radius) {
  border: $thickness solid $color;
  border-radius: $radius;
}

// main {
//   width: 32em;
//   height: 100%;
//   margin: 1em auto;
//   padding: 40px;
//   background: $dark-blue;
//   border-radius: 4px;
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
// }
.timeline {
  padding: 5px 10px;
  max-height: 60vh;
  overflow: hidden scroll;
  box-shadow: 0 0 10px #000 inset;
  ul {
    position: relative;
    &::before {
      @include clearfix();
      height: 100%;
    }
  }
  li {
    position: relative;
    margin: 60px 35px;
    width: 100%;
    list-style: none;
    line-height: 25px;
    & > span {
      @include clearfix();
      left: -25px;
      height: 110%;
      @include set-border(2px, $font-color, none);
    }
    & > span::before,
    & > span::after {
      @include clearfix();
      width: 14px;
      height: 14px;
      @include set-border(3px, $font-color, 50%);
      left: -7px;
      background: $light-blue;
    }
    & > span::before {
      top: -15px;
    }
    & > span::after {
      top: 100%;
    }
    div {
      &:nth-child(2) {
        font-size: 1.2em;
      }
      &:nth-child(3),
      &:nth-child(4) {
        font-size: 1em;
        font-style: italic;
        color: darken($font-color, 25%);
      }
    }
    .year span {
      position: absolute;
      font-size: 1em;
      left: -85px;
      width: 40px;
      text-align: right;
      &:first-child {
        top: -20px;
      }
      &:last-child {
        top: 100%;
      }
    }
  }
}
.gallery .gallery-details {
  padding: 2rem;
}

.gallery .row > div {
  margin-bottom: 5rem;
}

.hv-100 {
  min-height: 80vh;
}

.hv-80 {
  min-height: 80vh;
}
